@model todo.mvc.ViewModels.TodoListViewModel

@{
    ViewBag.Title = "Liste des collections";
}

<main>
    <h1>Liste des collections</h1>

    <section aria-labelledby="collection-title">
        <h2 id="collection-title">Collections</h2>
        @if (Model.Collections.Count() > 0)
        {
            <ul>
                @foreach (var todo in Model.Collections)
                {
                    <li>
                        <article>
                            <header>
                                <h3 id="todo-item-@todo.Id">@todo.Title</h3>
                            </header>
                           @Html.ActionLink("open", "GetCollection", new { id = todo.Id })
                               
                        </article>
                        @todo.Title
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No todos found.</p>
        }
    </section>

    <section aria-labelledby="collection-creation-title">
        <h2 id="collection-creation-title">Collection Creation</h2>
        @using (Html.BeginForm("CreateCollection", "TodoCollection", FormMethod.Post))
        {
            <div>
                @Html.LabelFor(m => m.CollectionCreation.Title)
                @Html.EditorFor(m => m.CollectionCreation.Title)
                @Html.ValidationMessageFor(m => m.CollectionCreation.Title)
            </div>

            <button type="submit">Create</button>
        }
    </section>

</main>